<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PomodoroPlant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <nav class="main-nav">
        <div class="nav-left">
            <div class="nav-logo-dot"></div>
        </div>

        <div class="nav-links">
            <a asp-controller="Home" asp-action="Index">Timer</a>
            <a asp-controller="Garden" asp-action="Index">Garden</a>
            <a asp-controller="Stats" asp-action="Index">Stats</a>
        </div>
    </nav>


    @RenderBody()

    <footer class="app-footer">
        © 2025 - PomodoroPlant
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
