@{
    ViewData["title"] = "Register";
}

<img src="~/images/PomodoroBladerenBoven.png" alt="Decoratie" class="plant-decor-top"/>
<img src="~/images/PomodoroBladerenOnder.png" alt="Decoratie" class="plant-decor-bottom">

<div class="login-page-wrapper register-wrapper">
    <h2 class="login-title">Register</h2>
    <p class="welcome-text">Make an account.</p>

    <form method="post" class="login-form">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" class="login-input" required/>

        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" class="login-input" required/>

        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="login-input" required/>
        
        <button type="submit" class="login-button">Aanmelden</button>
    </form>
</div>