<div class="garden-page">
  <main class="garden-main" aria-label="Garden view">
    <section class="garden-header">
      <h1 class="garden-title text-center">Your Garden</h1>
        <p class="plant-status text-center" id="label">
                Here you can see all your planted Pomodoro plants!
        </p>

        <div class="garden-plants-container">
          <div class="garden-plant-card">
            <img src="~/images/plant.png" alt="Lil’ Red" class="garden-plant-image" />
            <p class="garden-plant-label">Lil’ Red</p>
          </div>

            <div class="garden-plant-card">
            <img src="~/images/plant.png" alt="Tomato Plant 001" class="garden-plant-image" />
            <p class="garden-plant-label">Juicy Junior</p>
          </div>


            <div class="garden-plant-card">
            <img src="~/images/plant.png" alt="Tomato Plant 001" class="garden-plant-image" />
            <p class="garden-plant-label">Captain Caprese</p>
          </div>


            <div class="garden-plant-card">
            <img src="~/images/plant.png" alt="Tomato Plant 001" class="garden-plant-image" />
            <p class="garden-plant-label">BioNode-Tomato 12</p>
          </div>


            <div class="garden-plant-card">
            <img src="~/images/plant.png" alt="Tomato Plant 001" class="garden-plant-image" />
            <p class="garden-plant-label">Homestead Ruby</p>
          </div>

            <div class="garden-plant-card">
            <img src="~/images/plant.png" alt="Tomato Plant 001" class="garden-plant-image" />
            <p class="garden-plant-label">T-Grow Unit 7</p>
          </div>
        </div>
    </section>
  </main>
